# Dependencies
/node_modules
/.pnp
.pnp.js

# Build files
/build
/dist
/.next
/out

# Cache
/.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# IDE & Editor files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db